<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css"  href="wat2use4.css" />
    <script type="text/javascript" src=""></script>
  </head>
  <body>
    <p>
    Hello you! Welcome to Wat2Use4. It allows you to ask a question on what to
    use for whatever you want.
    </p>
    <p>
    You may start by asking your question right bellow:
    </p>
    <div contenteditable="true">
      What2Use4...?
    </div>
  </body>
</html>

