<!DOCTYPE html>
<html>
  <head>
    <title>Wat 2 Use 4</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css"  href="wat2use4.css" />
    <script src="scripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/lib.js"></script>
    <script src="scripts/wat2use4.js"></script>
  </head>
  <body>
    <h1>
      <div>
        Wat<span class="title_emphasis">2</span>
      </div>
      <div>
        Use<span class="title_emphasis">4</span>
      </div>
    </h1>
    <div id="results">
      <h1>
        Survey Results
      </h1>
      <div id="result_place_holder">
      </div>
    </div>

    <div id="main_placeholder">
      <p> The question is: </p>
      <div id="question" class="posted">
        <%= poll.question  %>
      </div>

      <div id="advice_placeholder">
        <p>Your advice is:</p>
        <div id="advice" contenteditable="true" placeholder="">
          # should prefix the terms you vote for.
        </div>
        <div id="advice_submit" class="button">
          Vote
        </div>
      </div>

      <div id="timeline">
        Timeline will be here...
      </div>

    </div>
  </body>
</html>

