/* Main stylesheet for wat2use4*/

html {
  height: 100%;
}

body {
  font-size: 1.2em;
  margin: 0;
  font-family: sans-serif;
  color: #666;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
  color: darkgrey;
  font-size: 3em;
}

h1 > div {
    display: inline;
}

span.title_emphasis {
  color: #5d8dc4;
  position: relative;
  left: -0.2em;
  top: +0.2em;
  font-size: 1.2em;
  font-weight: bold;
}

div#main_placeholder {
  width: 40%;
  margin: auto;
}


/* Question styles */

#question {
  width: 100%;
  color: grey;
  padding: 0.3em;
  font-family: sans-serif;
}

#question.edit_mode {
  border: 1px grey solid;
  font-style: italic;
  height: 10em;
}

#question.posted {
  font-style: italic;
  font-size: 2em;
  border: none;
  text-align: center;
}

div#results {
  float: right;
  border: 1px grey solid;
  padding: 1em;
  margin-right: 2%;
  width: 20%;
  height: 10em;
}

div#results h1 {
  font-size: 1em;
}

/* Advice Styles */

div#advice_placeholder {
  margin-top: 1.5em;
  display: inherit;
}

div#btn_placeholder {
    width: 100%;
    text-align: center;
}

#advice {
  border: 1px grey solid;
  padding: 0.3em;
  width: 100%;
  height: 3em;
  margin-bottom: 1em;
  font: 1em sans-serif;
  color: #666;
  resize: none;
}

div#timeline {
    width: 100%;
}

div.tl_advice {
  width: 100%;
  border: 1px grey solid;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
}

div.tl_advice > em
{
    color: #5d8dc4;
    font-style: normal;
}

ul {
    list-style-type: none;
}

button {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: grey 1px solid;
    padding: 0.5em;
    width: 10em;
    text-align: center;
    color: grey;
}

button:hover  {
    background: lightgrey;
    cursor: pointer;
    color: black;
}

button:focus  {
    background: lightgrey;
}


div#question_info {
    font-size: 0.5em;
    margin-top: 4em;
}





